<h2>@Model.NomeTreino</h2>

<a class="btn btn-success"
   asp-controller="TreinoExercicios"
   asp-action="Create"
   asp-route-treinoId="@Model.Id">
    + Adicionar Exercício
</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Exercício</th>
            <th>Séries</th>
            <th>Repetições</th>
            <th>Peso (kg)</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Exercicios)
        {
            <tr>
                <td>@item.Exercicio.NomeExercicio</td>
                <td>@item.Series</td>
                <td>@item.Repeticoes</td>
                <td>@item.Carga</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-controller="TreinoExercicios" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-danger btn-sm" asp-controller="TreinoExercicios" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
